@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pacifo
{
font-family: 'Pacifico', cursive !important;
}
.lobster2
{
 font-family: 'Lobster Two', cursive !important;
}
.el-messiri
{
  font-family: 'El Messiri', sans-serif !important;
}
html
{
  padding: 0px;
}
body
{
  background-color: #f8f8ff !important;
   padding: 0px;
   margin: 0px;
}
.navbar .nav-item
{
  padding:0px 10px;  
  font-family: 'Lobster Two', cursive;
  font-size: 19px;
}
.navbar-right .nav-item
{
 padding:0px; 
}
.row-content {
  margin: 40px auto;
  padding: 10px;
  min-height: 300px;
   }

@media(max-width: 580px)
{
.footer
{
  background-image: url('img/pet7.png');
  background-position:bottom ;
  background-repeat: no-repeat;

  background-size: contain;
  color: white;
}
}
.navbar-brand span
{
  font-family: Brush Script MT, Brush Script Std, cursive; 
  font-size: 30px;
}
.nav-container
{
margin: none;
}
@media(min-width: 580px)
{
  nav
  {
    height: 80px;
  }
.footer
{
  background:  url(img/foot-left.png) left bottom no-repeat , url(img/foot-right.png) right bottom no-repeat; 
color: white;
}
}
.petheader {
 margin-top: 50px !important;
 margin-left: 0px;
 margin-right: 0px;
 padding-left: 0px;
 padding-right: 0px; 
  color: floralwhite; 
}
.pettagline
{
  color: #212121;
 position: relative;
 top:50% !important;
}
.header-img
{
  position: relative;bottom: -59px !important; 
  height: 180px !important;
}
.row-header {
 background-color:#8490ff ;
 }
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
   }
.btn-social-icon
{
  margin:0px 10px;
border-radius: 50%;
color: white !important;
background-color: transparent;

}
.btn-social-icon:hover 
{
background-color: white;
transform: scale(1.1);
 border-radius: 50%;
 padding: 5px;
}
.btn-social-icon:hover i
{
color: #849aff;
}

.nav-tabs
{
  background-color:#849aff; 
  margin: 0px 40px;
}
.nav-tabs .nav-item
{
  width: 50%;
}
.footer-content a, .footer-copyright a
{
color: #404040;
}
.footer-content a:hover, .footer-copyright a:hover
{
color: #849aff;
text-decoration-line: none;
}

.petgradient
{
  background:-moz-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -ms-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
}
.gradient-text
{
background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%) ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
hr
{
 background:-moz-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -ms-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%); 
}
.petblue
{
background-color: #8490ff;  
}
.petblue-text
{
color: #8490ff !important;  
}
.petblue-light
{
background-color:#849aff; 
}
.navbar-dark {
 background-blend-mode: overlay;
 background-color: #8490ff;
  background-image: url("img/navback.png"); background-size: 400px;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }
  .adopt-donate
  {
  
    max-height: 400px;
  }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
.petform .btn-submit
{
 width: 80%;
color: white;
padding-left: 0px;
padding-right: 0px; 
border-radius: 20px;
}
.petform input
{ 
border: none;
border-bottom: 1px ridge;
border-radius: 0px;
}
.petform .form-control:focus {
    border: 1px solid #8490ff;
    box-shadow: 0 0 0 0.2rem rgba(132, 144, 255, .25);
}
.modal .close:hover
{
  color: white;
}
.modal,.petform
{
  color: #404040;
}
.modal-header {
  background:-moz-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -ms-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%); 

  color: white;
   }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
 
   }
.navbar .nav-link:hover {
    transform: scale(1.1);
}
.modal .nav-tabs
{
  background-color: transparent;
  margin: 0px;
  width: 100%;
  border: none;
  margin-left: 20px;
}
 .nav-tabs , .tab-content
   {
    border: transparent;

   }

.nav-tabs .nav-item
{
  margin: 0px;
  padding: 0px;
}
.nav-tabs .nav-link 
{
border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.nav-tabs .nav-link:hover 
{
  transform: scale(1.1);
  border: none;
}
.nav-tabs .nav-item a.active span
{
 color: white;
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.shadow
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.animated-btn {
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 30px;
  font-size: 16px;
  
  margin: 10px;
  transform: scale(1.1);
}
.animated-btn span.left {
  float: left;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

.animated-btn span.right {
  float: right;
  border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
}
.animated-btn span.fa,
.animated-btn span.title {
  display: block;
  position: relative;
  line-height: 50px;
  padding: 0 30px;

  }

.animated-btn span.fa {
  color: white;
  font-size: 20px;
  background-color: #8490ff;
}

.animated-btn span.title {
  background-color: #849aff;
  color: white;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 1px;
  font-weight: 500;
}

.animated-btn span.arrow-left,
.animated-btn span.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 23px solid transparent;
  -webkit-transition: all .15s;
  -transition: all .15s;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.animated-btn.right span.arrow-left {
  right: 0px;
  -webkit-box-shadow: 10px 0 0 0 #8490ff, 10px 3px 0 0 #8490ff;
  box-shadow: 10px 0 0 0 #8490ff, 10px 3px 0 0 #8490ff;
  border-right: 10px solid #8490ff;
}

.animated-btn.left span.arrow-right {
  left: 0px;
  -webkit-box-shadow: -10px 0 0 0 #8490ff, -10px 3px 0 0 #8490ff;
  box-shadow: -10px 0 0 0 #8490ff, -10px 3px 0 0 #8490ff;
  border-left: 10px solid #8490ff;
}

.animated-btn:hover span.arrow-left {
  right: 10px;
}

.animated-btn:hover span.arrow-right {
  left: 10px;
}
.pet-card .card
{
  transition: 0.3s;
}
.pet-card:hover
{
  text-decoration: none;
}
.pet-card:hover .card
{
  filter: brightness(30%);
}
.pet-icon
{opacity: 0;
  z-index: 2;
  color: white;
  transition: 0.3s;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}
.pet-card:hover .pet-icon
{color: white;
  filter: brightness(100%);
font-size: 50px !important;
  opacity: 1;
}
.pet-img img
{
  height: 200px;
  width: 200px; 
  border: 2px ridge; 
  object-fit: cover;
}
.pet-price {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: auto;
  height: 26px;
  background-color: #8490ff;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #6ab070;
  margin-left: 19px;
  color: white;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  padding: 0 5px 0 5px;
}
.pet-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -13px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid #8490ff;
}
.pet-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -6px;
  top: 13px;
}
         .pattern { 
            position: relative;  
            background-image: linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%); 
            background-image: -webkit-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    background-image: -moz-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);  
        z-index: 0;
        background-size:auto 40%;
        background-repeat: no-repeat;
        } 
  
        .pattern:before { 
          z-index: -1;
            content: ""; 
            position: absolute; 
            bottom: 60%; 
            left: 0; 
            width: 100%; 
            height: 100px;
            background: url(../img/wave3.png); 
            background-size: contain;
            background-position: bottom; 
            background-repeat: no-repeat;
             
        }
        .pet-pattern { 
            position: relative;  
            background-image: linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%); 
            background-image: -webkit-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    background-image: -moz-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);  
        z-index: 0;
        background-size:auto 20%;
        background-repeat: no-repeat;
        } 
  
        .pet-pattern:before { 
          z-index: -1;
            content: ""; 
            position: absolute; 
            bottom: 80%; 
            left: 0; 
            width: 100%; 
            height: 50px;
            background: url(../img/wave3.png); 
            background-size: auto;
            background-position: top; 
            background-repeat: no-repeat;
             
        }
        .main-heading
{
 font-family: 'El Messiri', sans-serif;
 color: #8490ff ; 
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 600;

}

.imgUp
{
  margin-bottom:15px;
}
.petdetail-price {
  display: inline-block;
  width: auto;
  position: relative;
  top: 50%;
  height: 32px;
  background-color: #8490ff;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;
  border-left: 1px solid #6ab070;
  margin-left: 19px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  padding: 0 5px 0 5px;
}
.petdetail-price:before {
  content: "";
  position: absolute;
  display: block;
  left: -16px;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 16px solid #8490ff;
}
.petdetail-price:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -8px;
  top: 15px;
}
.opacity-0
{
  opacity: 0 !important;
}
.opacity-1
{
  opacity: 1 !important;
}
.btn-free
{
  color: white !important;

}
.btn-free .badgebox
{
    opacity: 0;
}

 .btn-free .badgebox + .badge
{
    text-indent: -999999px;
  width: 15px;
  padding: 0px;
}
.btn-free .badge
{
  border: 2px solid white;
}

.btn-free .badgebox:focus + .badge
{
    box-shadow: inset 0px 0px 5px;
}

.btn-free .badgebox:checked + .badge
{
  text-indent: 0;
}


.petsearchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    border-radius: 30px;
    color: white;
    padding: 10px;
    }
    .petsearch{
      width: 80% !important;
      position: absolute;
      top: 50%;
transform: translateY(-50%);
    color: white !important;
    border: 0 !important;
    outline: none;
    background: none !important;    
    }

    .petsearch::placeholder
    {
     color:rgba(255,255,255,0.7) !important;
    }
    .petsearch::-webkit-input-placeholder
    {
     color:rgba(255,255,255,0.7) !important;
    }
    .petsearch::-moz-input-placeholder
    {
     color:rgba(255,255,255,0.7) !important;
    }
 
    .petsearch-icon{
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
    height: 30px;
    width: 30px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#8490ff;
    text-decoration:none;
  }  
    .petsearch-free
    {
    height: 50px;
    border-radius: 30px;
    color: white;
    font-size:20px; 
    font-weight: 600;
    padding: 10px;
    }

    .switch {

  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color: #8490ff;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.pet-range
{
  color: white !important;
font-weight: 600;
display: inline-block;
border:none;
outline: none;  
border-radius: 50px!important;
}
.pet-range option
{
  color: #8490ff !important;
  font-weight: 600 !important;
}
  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200vh; 
  }
  .petarticle-header
  {
    color: white !important;
    font-size: 25px;
  }
  .petarticle-body .blockquote p
  {
    color: black;
    font-size: 16px !important;
  }


