@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pacifo
{
font-family: 'Pacifico', cursive;
}
.lobster2
{
 font-family: 'Lobster Two', cursive;
}
.el-messiri
{
  font-family: 'El Messiri', sans-serif;
}
body
{
  background-color: #f8f8ff !important;
}
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }
.navbar .nav-item
{
  padding:0px 20px;  
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
}
.navbar-right .nav-item
{
 padding:0px; 
}
.row-content {
  margin: 40px auto;
  padding: 10px;
  min-height: 300px;
   }

@media(max-width: 800px)
{
.myheader {
  margin: 29.2% auto;
  padding:40px 0px;
  color: floralwhite; }
.pettagline
{
 display: none;
}
.footer
{
  background-image: url('img/pet7.png');
  background-position:bottom ;
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}
}
.navbar-brand span
{
  font-family: Brush Script MT, Brush Script Std, cursive; 
  font-size: 30px;
}
.nav-container
{
margin: none;
}
@media(min-width: 480px)
{
.myheader {
  margin-top: 164px;
   padding:40px 0px;
  color: floralwhite; }
.pettagline
{
  position: absolute;
   top:125px; 
  padding-left: 8%;
}
.footer
{
  background:  url(img/foot-left.png) left bottom no-repeat , url(img/foot-right.png) right bottom no-repeat; 
color: white;
}
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
   }
.btn-social-icon
{
  margin:0px 10px;
border-radius: 50%;
color: white !important;
background-color: transparent;

}
.btn-social-icon:hover 
{
background-color: white;
transform: scale(1.1);
 border-radius: 50%;
 padding: 5px;
}
.btn-social-icon:hover i
{
color: #849aff;
}

.nav-tabs
{
  background-color:#849aff; 
  margin: 0px 40px;
}
.nav-tabs .nav-item
{
  width: 50%;
}
.footer-content a, .footer-copyright a
{
color: #404040;
}
.footer-content a:hover, .footer-copyright a:hover
{
color: #849aff;
text-decoration-line: none;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 

}
.petgradient
{
  background:-moz-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -ms-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
}
.gradient-text
{
background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%) ;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
hr
{
 background:-moz-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -ms-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%); 
}
.petblue
{
background-color: #8490ff;  
}
.petblue-text
{
color: #8490ff;  
}
.petblue-light
{
background-color:#849aff; 
}
.navbar-dark {
 background-blend-mode: overlay;
 background-color: #8490ff;
  background-image: url("img/navback.png"); background-size: 400px;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }
  .adopt-donate
  {
    max-height: 400px;
  }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
.petform .btn
{
 width: 80%;
color: white;
border-radius: 20px;
}
.petform input
{

border: none;
border-bottom: 1px ridge;
border-radius: 0px;
}
.petform input:focus
{
  
}
.modal .close:hover
{
  color: white;
}
.modal,.petform
{
  color: #404040;
}
.modal-header {
  background:-moz-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  background: -ms-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%); 

  color: white;
   }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
 
   }
.navbar .nav-link:hover {
    transform: scale(1.1);
}
.modal .nav-tabs
{
  background-color: transparent;
  margin: 0px;
  width: 100%;
  border: none;
  margin-left: 20px;
}
 .nav-tabs , .tab-content
   {
    border: transparent;

   }

.nav-tabs .nav-item
{
  margin: 0px;
  padding: 0px;
}
.nav-tabs .nav-link 
{
border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.nav-tabs .nav-link:hover 
{
  transform: scale(1.1);
  border: none;
}
.nav-tabs .nav-item a.active span
{
 color: white;
  background: -webkit-linear-gradient(10deg, #8490ff 50%, #62bdfc 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
.shadow
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 


.animated-btn {
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 30px;
  font-size: 16px;
  
  margin: 10px;
  transform: scale(1.1);
}
.animated-btn span.left {
  float: left;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

.animated-btn span.right {
  float: right;
  border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
}
.animated-btn span.fa,
.animated-btn span.title {
  display: block;
  position: relative;
  line-height: 50px;
  padding: 0 30px;

  }

.animated-btn span.fa {
  color: white;
  font-size: 20px;
  background-color: #8490ff;
}

.animated-btn span.title {
  background-color: #849aff;
  color: white;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 1px;
  font-weight: 500;
}

.animated-btn span.arrow-left,
.animated-btn span.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 23px solid transparent;
  -webkit-transition: all .15s;
  -transition: all .15s;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.animated-btn.right span.arrow-left {
  right: 0px;
  -webkit-box-shadow: 10px 0 0 0 #8490ff, 10px 3px 0 0 #8490ff;
  box-shadow: 10px 0 0 0 #8490ff, 10px 3px 0 0 #8490ff;
  border-right: 10px solid #8490ff;
}

.animated-btn.left span.arrow-right {
  left: 0px;
  -webkit-box-shadow: -10px 0 0 0 #8490ff, -10px 3px 0 0 #8490ff;
  box-shadow: -10px 0 0 0 #8490ff, -10px 3px 0 0 #8490ff;
  border-left: 10px solid #8490ff;
}

.animated-btn:hover span.arrow-left {
  right: 10px;
}

.animated-btn:hover span.arrow-right {
  left: 10px;
}
.pet-card .card
{
  transition: 0.3s;
}
.pet-card:hover
{
  text-decoration: none;
}
.pet-card:hover .card
{
  filter: brightness(30%);
}
.pet-paw
{opacity: 0;
  z-index: 2;
  color: white;
  transition: 0.3s;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}
.pet-card:hover .pet-paw
{color: white;
  filter: brightness(100%);
font-size: 50px !important;
  opacity: 1;
}
.pet-img img
{
  height: 200px;
  width: 200px; 
  border: 2px ridge; 
  object-fit: cover;
}
         .pattern { 
            position: relative;  
            background-image: linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%); 
            background-image: -webkit-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    background-image: -moz-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);  
        z-index: 0;
        background-size:auto 40%;
        background-repeat: no-repeat;
        } 
  
        .pattern:before { 
          z-index: -1;
            content: ""; 
            position: absolute; 
            bottom: 60%; 
            left: 0; 
            width: 100%; 
            height: 100px;
            background: url(../img/wave3.png); 
            background-size: contain;
            background-position: bottom; 
            background-repeat: no-repeat;
             
        }
        .pet-pattern { 
            position: relative;  
            background-image: linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%); 
            background-image: -webkit-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    background-image: -moz-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);  
        z-index: 0;
        background-size:auto 20%;
        background-repeat: no-repeat;
        } 
  
        .pet-pattern:before { 
          z-index: -1;
            content: ""; 
            position: absolute; 
            bottom: 80%; 
            left: 0; 
            width: 100%; 
            height: 50px;
            background: url(../img/wave3.png); 
            background-size: auto;
            background-position: top; 
            background-repeat: no-repeat;
             
        }
        .main-heading
{
 font-family: 'El Messiri', sans-serif;
 color: #8490ff ; 
  text-shadow: 4px 4px 4px #aaa;
  font-weight: 600;
}

.imagePreview {
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    border: 1px ridge;
    background-position: center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}