.member-header
{
	background-image: linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%); 
            background-image: -webkit-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    background-image: -moz-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    height: 150px;
}
.member-card
{
	position: relative;
	top: -100px;
}
.pet-card:hover
{
	text-decoration: none;
}
.pet-card:hover .card
{
	filter: brightness(30%);
}
.pet-paw
{opacity: 0;
	z-index: 2;
	color: white;
	transition: 0.3s;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);

}
.pet-card:hover .pet-paw
{color: white;
	filter: brightness(100%);
font-size: 50px !important;
	opacity: 1;
}
.pet-img img
{
	height: 200px;width: 200px; border: 2px ridge; object-fit: cover;
}
         .pattern { 
         
        
            position: relative; 
            background-color: #3bb78f; 
            background-image: linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%); 
            background-image: -webkit-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);
                    background-image: -moz-linear-gradient(10deg, 
                    #8490ff 50%, #62bdfc 100%);  
        z-index: 0;
        background-size:auto 40%;
        background-repeat: no-repeat;
        } 
  
        .pattern:before { 
          z-index: -1;
            content: ""; 
            position: absolute; 
            bottom: 60%; 
            left: 0; 
            width: 100%; 
            height: 250px; 
            background: url(img/wave3.png); 
            background-size: contain;
            background-position: bottom; 
            background-repeat: no-repeat;
             
        }

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}

.animated-btn {
	position: relative;
	display: inline-block;
	height: 54px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}
.animated-btn span.left {
	float: left;
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
}

.animated-btn span.right {
	float: right;
	border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
}
.animated-btn span.fa,
.animated-btn span.title {
	display: block;
	position: relative;
	line-height: 50px;
	padding: 0 30px;
	}

.animated-btn span.fa {
	color: white;
	font-size: 25px;
	background-color: #8490ff;
}

.animated-btn span.title {
	background-color: #849aff;
	color: white;
}

.animated-btn span.arrow-left,
.animated-btn span.arrow-right {
	position: absolute;
	width: 0;
	height: 0;
	border-top: 24px solid transparent;
	border-bottom: 23px solid transparent;
	-webkit-transition: all .15s;
	-transition: all .15s;
	-webkit-transition-property: left, right;
	transition-property: left, right;
}

.animated-btn.right span.arrow-left {
	right: 0px;
	-webkit-box-shadow: 10px 0 0 0 #8490ff, 10px 3px 0 0 #8490ff;
	box-shadow: 10px 0 0 0 #8490ff, 10px 3px 0 0 #8490ff;
	border-right: 10px solid #8490ff;
}

.animated-btn.left span.arrow-right {
	left: 0px;
	-webkit-box-shadow: -10px 0 0 0 #8490ff, -10px 3px 0 0 #8490ff;
	box-shadow: -10px 0 0 0 #8490ff, -10px 3px 0 0 #8490ff;
	border-left: 10px solid #8490ff;
}

.animated-btn:hover span.arrow-left {
	right: 10px;
}

.animated-btn:hover span.arrow-right {
	left: 10px;
}
